<center>
    <h2>
        Best knowledge source üòç -
        <a href="https://wesmckinney.com/book/pandas-basics">here</a>
    </h2>
</center>

---

# Library import

In [ ]:
!pip install pandas

In [1]:
import pandas as pd

# Reading files

Source: <a href="https://www.kaggle.com/datasets/brendan45774/test-file">Brenda N - Titanic - Kaggle</a>

In [ ]:
data = pd.read_csv("./data/titanic.csv")
data.head() # tail or sample

# Reading data from DataFrame

In [ ]:
data["Age"]

#### `.loc`

In [ ]:
data.loc[5]
# data.loc[5:10]

In [ ]:
data.loc[5:10, ["Name", "Age"]]

#### `.iloc`

In [ ]:
data.iloc[5]

In [ ]:
data.iloc[:, 3:6]

# Basic informatin about dataset

#### `.info`

In [ ]:
data.info()

#### `.describe`

In [ ]:
data.describe()

In [23]:
data['Age'].mean()

30.272590361445783

#### `.unique`

In [ ]:
data['Pclass'].unique()

# Droping and filling empty cells

### `.dropna`

In [ ]:
data.sample(5)

In [ ]:
data_copy = data.dropna(subset=["Age"])
# data_copy = data.dropna(subset=["Age", "Fare"])
data_copy

### `.dropna` inplace

In [ ]:
data.dropna(subset=["Age"], inplace=True)
len(data)

### `.fillna`

In [ ]:
data['Cabin'].fillna("not known", inplace=True)
data.head()

# Droping rows and columns

#### Drop rows

In [ ]:
data.drop(0).head()

#### Drop columns

In [ ]:
data.drop("PassengerId", axis=1).head()

# Filtering

In [ ]:
data[data['Age'] > 30].head()

In [ ]:
data[data["Sex"] == "female"].head()

#### Filtering with multiple conditions

In [ ]:
data_copy = data[(data['Age'] > 30) & (data['Sex'] == "female")]
# data_copy = data[(data['Age'] > 30) | (data['Sex'] == "female")]
print(len(data_copy))
data_copy.head()

#### `.isnull()` and `.notnull()`

In [ ]:
data = pd.read_csv("./data/titanic.csv")

# data[data['Age'].notnull()].head()
data[data['Age'].isnull()].head()

#### `.isin`

In [ ]:
data[data['Pclass'].isin([1, 2])].head()

# Sorting

#### `.sort_values`

In [ ]:
data.sort_values("Age")

#### `.sort_index`

In [ ]:
data.sort_index()

#### `.reset_index`

In [ ]:
data.sort_values("Age", inplace=True)
data.reset_index(drop=True, inplace=True)
data.head()

# Aggregation

In [94]:
data = pd.read_csv("./data/titanic.csv")

#### `.mean`, `.count`, `.sum`, etc.

In [ ]:
data[["Sex", "Age"]].groupby(["Sex"]).mean()

In [ ]:
data[["Sex", "PassengerId"]].groupby("Sex").count()

In [ ]:
data[["Sex", "Fare"]].groupby("Sex").sum()

#### `.agg`

In [ ]:
data[["Sex", "Fare"]].groupby("Sex").agg(["sum", "mean", "count"])